/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}

li:hover {
  cursor: pointer;
}

/* NAV-BAR */

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom-color: #fff !important;
  transition: all 0.4s ease-in-out;
}

/* MAIN SECTION - PRODUCTS */

.article:hover {
  cursor: pointer;
}

.shoppingCart:hover{
  cursor: pointer;
  color: #FFD700 !important;
  transition: all 0.4s ease-in-out;
}

.img_handler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47%;
  width: 100%;
}

.img_handler img {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 40%;
}

.product_handler {
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* LOADER */
#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* FOOTER */

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hide {
  display: none !important;
}

/* CART TABLE */

#tbody img {
  max-height: 40px;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */


/* small devices */
@media screen and (max-width: 450px) and (min-width: 350px) {

  .navbar-light .navbar-nav .nav-item {
    border-right: none !important;
  }

  .img_handler {
    height: 32%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .img_handler img {
    max-width: 32%;
  }

  .product_handler {
    margin-bottom: 20px;
  }

  .product_handler h5,
  .product_handler p {
    font-size: 15px;
  }

  #product_img{
    margin: 10px auto;
  }

  #product_info {
    text-align: center;
  }

  #product_info h4,
  #product_info h5,
  #product_info .lead {
    font-size: 15px;
  }

  .sum {
    text-align: center !important;
  }

  .table-hover {
    font-size: 11px;
  }

  .account-label {
    margin-top: 25px !important;
    margin-bottom: 3px;
  }

}

/* medium devices */

@media screen and (max-width: 767px) and (min-width: 500px) {

  .navbar-light .navbar-nav .nav-item {
    border-right: none !important;
  }

  .img_handler {
    height: 32%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .img_handler img {
    max-width: 32%;
  }

  .product_handler {
    margin-bottom: 20px;
  }

  .product_handler h5,
  .product_handler p {
    font-size: 15px;
  }

  #product_img{
    margin: 10px auto;
  }

  #product_info {
    text-align: center;
  }

  #product_info h4,
  #product_info h5,
  #product_info .lead {
    font-size: 15px;
  }

  .sum {
    text-align: center !important;
  }

  .table-hover {
    font-size: 11px;
  }

  .account-label {
    margin-top: 25px !important;
    margin-bottom: 3px;
  }

}

@media screen and (max-width: 800px) and (min-width: 768px) {

  .navbar-light .navbar-nav .nav-item {
    border-right: none !important;
  }

  .img_handler {
    height: 32%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .img_handler img {
    max-width: 32%;
  }

  .product_handler {
    margin-bottom: 20px;
  }

  .product_handler h5,
  .product_handler p {
    font-size: 15px;
  }

  #product_img{
    margin: 10px auto;
  }

  #product_info {
    text-align: center;
  }

  #product_info h4,
  #product_info h5,
  #product_info .lead {
    font-size: 15px;
  }

}


/* large devices */
@media screen and (max-width: 1300px) and (min-width: 992px) {

  .navbar-light .navbar-nav a {
    font-size: 12px !important;
  }

  .img_handler {
    height: 32%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .img_handler img {
    max-width: 32%;
  }

  .product_handler {
    margin-bottom: 20px;
  }

  .product_handler h5,
  .product_handler p {
    font-size: 15px;
  }

  #product_img{
    margin: 10px auto;
  }

  #product_info {
    text-align: center;
  }

  #product_info h4,
  #product_info h5,
  #product_info .lead {
    font-size: 15px;
  }

}